main article section._3 {
  width: 90vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--fg-color-t);
  backdrop-filter: blur(8px);

  border-style: solid;
  border-width: 1px;
  border-radius: 20px;

  gap: 20px;
}
main article section._3 ul {
  width: 95%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 20px;
}
main article section._3 li {
  padding: 20px 0;

  max-width: 250px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 250px;

  background-color: var(--fg-color);
  
  border-radius: 20px;

  transition: all .5s ease-in-out;
}
main article section._3 li:hover {
  transform: translateY(-5px);

  filter: brightness(1.25);
}
